.App {
  display: flex;
  font-size: 16px;
}
.content {
  margin-top: 50px;
  margin-left: 200px;
  width: 50%;
}
.filter {
  margin-top: 50px;
  margin-left: 40px;
}

input,
button {
  cursor: pointer;
}

.search {
  display: flex;
}

.button_search {
  margin-left: 10px;
  margin-top: -3px;
}

.input_age {
  margin-right: 10px;
}

.genderFilter {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 15px;
}